<footer>
    <div class="container container-fixed">
        <p>
            <a href="/about">Getting Started</a> &middot;
            <a href="/contributing">Contribute</a> &middot;
            <a href="/docs">Documentation</a> &middot;
            <a href="/extensions">Extensions</a>
        </p>
        <p>grano: facebook, for non-traditional militant actors.</p>
        <p><iframe width="200px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=granoproject&amp;repo=grano&amp;type=watch&amp;count=true&amp;size=small"></iframe></p>

    </div>
</footer>
