<footer>
    <div class="container container-fixed">
        <div class="row">
            <div class="col-md-3 inner">
                <strong>grano</strong><br>
                like facebook, but for non-traditional militant actors
            </div>
            <div class="col-md-3 inner">
              <ul>
                <li><a href="https://granoproject.org">documentation</a></li>
                <li><a href="http://granoproject.org/api/">api</a></li>
                <li><a href="https://github.com/granoproject">source code</a></li>
              </ul>
            </div>
            <!--div class="col-md-8">
                <p>
                    <a href="/about">Getting Started</a> &middot;
                    <a href="/docs">Documentation</a> &middot;
                    <a href="/contributing">Contribute</a> &middot;
                    <a href="/extensions">Extensions</a>
                </p>
                <p>grano: facebook, for non-traditional militant actors.</p>
            </div-->
            <div class="col-md-6 right">
                <a href="http://www.codeforafrica.org/">
                    <img src="/static/images/c4a.png">
                </a>
            </div>
        </div>
    </div>
</footer>
