<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container container-fixed">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="grano">
        </a>
        <p class="navbar-text navbar-right">
            <iframe width="100px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=granoproject&amp;repo=grano&amp;type=watch&amp;count=true&amp;size=small"></iframe>
        </p>
    </div>
</nav>
